:root {
  --color-light: 255 255 255;
  --color-dark: 64 64 64;
  --color-gray: 239 239 239;
  --font-family-primary: "Raleway", sans-serif;

}

*,
::after,
::before {
  box-sizing: inherit
}

body,
html {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: var(--font-family-primary);
  line-height: 1.5;
  color: rgb(var(--color-dark) / 100%);
}

.icon {
  fill: currentcolor
}

p {
  text-indent: .75em
}

.large {
  font-size: 1.15rem;
}

.tiles {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: flex-start;
  height: 100%
}

@media (width >= 64rem) {
  .tiles {
    flex-wrap: nowrap
  }
}

.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 10%;
  text-decoration: none;
}

@media (width >= 64rem) {
  .tile {
    width: 12.5%;
    height: 100%
  }
}

.tile__content {
  overflow-y: auto;
  width: 100%;
  height: 0;
  transition: width .25s ease
}

@media (width >= 64rem) {
  .tile__content {
    width: 0;
    height: 100%;
  }
}

.tile__content > div {
  transform: translateY(10%);
  padding: 1rem 2rem 5rem;
  opacity: 0;
  transition: all .1s ease
}

.tile:target + .tile__content {
  width: 100%;
  height: 90%
}

@media (width >= 64rem) {
  .tile:target + .tile__content {
    width: 50%;
    height: 100%
  }
}

.tile:target + .tile__content > div {
  transform: translateY(0);
  opacity: 1;
  transition: all .5s ease .25s
}

.tile > svg {
  width: 3rem;
  height: 3rem;
  color: rgb(var(--color-dark) / 100%);
}

@media (width >= 64rem) {
  .tile > svg {
    width: 4rem;
    height: 4rem
  }
}

.tile--about {
  order: -5;
  background-color: #589a35;
}

@media (width >= 64rem) {
  .tile--about {
    order: 0
  }
}

.tile--experience {
  order: -4;
  background-color: #c68532;
}

@media (width >= 64rem) {
  .tile--experience {
    order: 0
  }
}

.tile--skills {
  order: -3;
  background-color: #c8cc55;
}

@media (width >= 64rem) {
  .tile--skills {
    order: 0
  }
}

.tile--links {
  order: -2;
  background-color: #4c8aa4;
}

@media (width >= 64rem) {
  .tile--links {
    order: 0
  }
}

.tile--contacts {
  order: -1;
  background-color: rgb(var(--color-dark) / 100%);
}

@media (width >= 64rem) {
  .tile--contacts {
    order: 0
  }
}

.tile--contacts > svg {
  color: rgb(var(--color-light) / 100%);
}

/** EXPEREINCE */
.experience {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}


.timeline {
  margin-left: 10rem;
  border-left: 2px solid rgb(var(--color-gray) / 100%);
  font-size: 1.25rem;
  font-weight: 400;
  color: #707070;
}

.timeline__year {
  position: relative;
  margin: 2rem 0;
  padding-left: 2rem
}

.timeline__year:first-child {
  margin-top: 0;
}

.timeline__year:last-child {
  margin-bottom: 0;
}

.timeline__year:first-child::before {
  transform: translate(-50%, -65%)
}

.timeline__year:last-child::before {
  transform: translate(-50%, -35%)
}

.timeline__year::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -1px;
  transform: translate(-50%, -50%);
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #c68532;
  box-shadow: 0 0 0 2px rgb(var(--color-light) / 100%), 0 0 0 4px rgb(var(--color-gray) / 100%);
}

.timeline__company {
  position: relative;
  margin: 3rem 0;
  padding-left: 2rem;
}

.timeline__company-period {
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
}

.timeline__position {
  font-size: 1rem;
}


.timeline__company::after,
.timeline__company::before {
  content: "";
  position: absolute;
  top: 50%;
  display: block;
  border-radius: 50%;
  background-color: rgb(var(--color-gray) / 100%);
}

.timeline__company::before {
  left: -4rem;
  transform: translate(-100%, -50%);
  width: 4rem;
  height: 4rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover
}

.timeline__company::after {
  top: 50%;
  left: -1px;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
  background-color: rgb(var(--color-gray) / 100%)
}

.timeline__company--mwdn::before {
  background-image: url("/assets/images/mwdn.png");
  background-position: center 20%;
  background-size: 90%;
}

.timeline__company--gtt::before {
  background-image: url("/assets/images/gtt.png");
}

.timeline__company--freelance::before {
  background-image: url("/assets/images/js.png");
  background-size: 70%;
}

.timeline__company--provectus::before {
  background-image: url("/assets/images/provectus.png");
  background-size: 80%
}

.timeline__company--ciklum::before {
  background-image: url("/assets/images/ciklum.png")
}

.timeline__company--abp::before {
  background-image: url("/assets/images/abp.png");
  background-size: 80%
}

.timeline__company--onu::before {
  background-image: url("/assets/images/onu.png")
}

.timeline__company-line {
  position: absolute;
  top: 50%;
  left: -1.5rem;
  transform: translate(-100%, -50%);
  width: 1.5rem;
  height: 2px;
  background-color: rgb(var(--color-gray) / 100%);
}


/** SKILLS */
.skills {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
}

.skills__title {
  width: 100%;
  padding: .5rem 1.25rem;
  font-size: 2rem;
  font-weight: 300;
  color: rgb(var(--color-light) / 100%);
  background-color: #c8cc55;
}

.skill {
  padding: 1rem 1.25rem;
  font-size: .85rem;
  background-color: rgb(var(--color-gray) / 100%);
}

/** CONTACTS */

.contacts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin: 3rem 0;
  text-align: center;
}

.contacts svg {
  width: 1.75rem;
  height: 1.75rem;
}

.contact {
  width: 100%;
  padding: 0.75rem;
  color: rgb(var(--color-light) / 100%);
  box-shadow: 0 1px 3px rgb(var(--color-dark) / 10%);
  transition: all 0.15s ease;
}

@media (width >= 32rem) {
  .contact {
    width: 50%;
  }
}

.contact:hover {
  box-shadow: 0 2px 5px rgb(var(--color-dark) / 25%);
}

.contact--linkedin {
  background-color: #0082ca;
}

.contact--wellfound {
  background-color: #f5f5f5;
}

.contact--xing {
  background-color: #0698A0;
}

.contact--gmail {
  background-color: #dd4b39;
}

.contact--github {
  background-color: #333;
}


/** STATS */
.stat-table {
  clear: both;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  background-color: rgb(var(--color-gray) / 100%);
}

@media (width >= 54rem) {
  .stat-table {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.stat-table__cell {
  flex: 1;
  padding: 1.5em .75em;
  font-size: 1rem;
  text-align: center;
}

.stat-table__cell > div {
  margin-bottom: .25em;
  font-size: 3em;
  font-weight: 900;
}

.photo {
  display: block;
  shape-outside: circle(50%);
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

@media (width >= 32rem) {
  .photo {
    float: left;
    max-width: 25%;
    margin: 0 1.5em 1em 0;
  }
}
